<div class="container">
    <div class="row payment-history-title text-center my-5">
        <p>Payment History</p>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th >Payment ID</th>
                <th >Name</th>
                <th >Amount</th>
                <th >Timestamp</th>
                <th >Card Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="">
                <td class="payment-id"></td>
                <td class="card-name"></td>
                <td class="amount"></td>
                <!-- display date in 'MMM d, y, h:mm:ss a' format -->
                <td class="transaction-date"></td>
                <!-- display only last 4 digit of card number and hide rest of digits -->
                <td class="card-number"></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>