<div class="products-container">
  <div class="product-list">
    <!-- Modify the following code show the list of Products from Products Array -->
    <div class="product-card" >
      <h3 class="product-name">{{ product?.name }}</h3>
      <p class="product-price">$ {{ product?.price }}</p>
      <p class="product-description">{{ product?.description }}</p>
      <button (click)="deleteProduct(product.id)" class="btn-delete">Delete</button>
      <button *ngIf="selectedProductId !== product.id" (click)="selectProductForUpdate(product)"
        class="btn-update">Update</button>
      <!-- Display edit form when selectedProductId matches the current product's id -->
      <div *ngIf="selectedProductId === product.id" class="update-form">
        <div class="form-group">
          <label for="updateProductName">Product Name</label>
          <input type="text" id="updateProductName" [value]="product.name" (input)="updateProductField($event, 'name')">
          <p class="error-message" *ngIf="!updatedProductName">Product Name is required.</p>

        </div>
        <div class="form-group">
          <label for="updateProductPrice">Product Price</label>
          <input type="number" id="updateProductPrice" [value]="product.price"
            (input)="updateProductField($event, 'price')">
          <p class="error-message" *ngIf="updatedProductPrice <= 0">Product Price must be greater than 0.</p>

        </div>
        <div class="form-group">
          <label for="updateProductDescription">Product Description</label>
          <textarea id="updateProductDescription" [value]="product.description"
            (input)="updateProductField($event, 'description')"></textarea>
          <p class="error-message" *ngIf="!updatedProductDescription">Product Description is required.</p>

        </div>
        <button (click)="updateProduct(product)" class="btn-save">Save</button>
        <button (click)="cancelUpdate()" class="btn-cancel">Cancel</button>
      </div>
    </div>
  </div>

  <div class="add-product-form">
    <h2>Add Product</h2>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" id="productName" [(ngModel)]="newProductName" placeholder="Product Name">
    </div>
    <div class="form-group">
      <label for="productPrice">Product Price</label>
      <input type="number" id="productPrice" [(ngModel)]="newProductPrice" placeholder="Product Price">
    </div>
    <div class="form-group">
      <label for="productDescription">Product Description</label>
      <textarea id="productDescription" [(ngModel)]="newProductDescription"
        placeholder="Product Description"></textarea>
    </div>
    <button (click)="addProduct()" class="btn-add">Add Product</button>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>